*{
	margin:0;
	padding:0;
}
body{
	width:867px;
	margin:0 auto;

	background:#2c383e url(../images/bgindex.jpg) repeat-x;
/*
	background:#000;
*/
	font-size:12px;
	color:#666;
}
ul{
	list-style-type:none;
}
img{
	border:none;
}
#header{
	width:867px;
	height:323px;
}
#header embed{
	display:block;
	width:867px;
	height:323px;
}
#nav{
	width:867px;
	height:51px;
	background:url(../images/linkbg.jpg);
}
#nav ul{
	height:51px;
	line-height:51px;
}
#nav ul li{
	text-align:center;
	height:51px;
	width:124px;
	background:url(../images/linkr.gif) no-repeat right center;  /* 只显示一次，在右边的中间显示 */
	float:left;
	/*
		长度：124
		6个长度：744
		最后一个长度：867-744=123
	*/
}
#nav ul li.end{
	width:123px;
	background:none;  /* 去掉#nav ul li中的最后一个分隔符 */
}
#nav ul li a{
	display:inline-block;  /* 设置内联块，使得导航栏可点击的范围扩大至整个矩形，而不是只能点击文字跳转 */
	width:124px;  /* 由于留言反馈板块长度为123px，所以需要在#nav ul li.end a中设置width为123px */
	height:51px;
	color:#fff;
	text-decoration:none;  /* 去掉下划线 */
}
#nav ul li a:hover{  /* 鼠标悬停时的效果 */
	font-size:14px;
	font-weight:bold;
	color:yellow;
	text-decoration:underline;
}
#nav ul li.end a{
	width:123px;  /* 将宽度由124px改为123px */
}
#footer{
	clear:both;
	width:867px;
	height:110px;
	background:url(../images/bg.gif);
}
#footer img{
	padding-top:10px;
}
#footer p{
	color:#ccc;
	text-align:right;
	font-family:Tahoma;
	font-size:10px;
	padding-right:10px;
	padding-top:10px;
}